a {
  outline: 0 !important;
}
.mon-app {
  min-height: 100vh;
  margin-top: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mon-app > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media screen and (max-width: 700px) {
  .mon-app > div {
    max-width: 100%;
  }
}
.mon-stared {
  color: #BD362F !important;
}
.mon-stared:hover,
.mon-stared:active,
.mon-stared:focus {
  text-decoration: none;
  opacity: 0.6;
}
.mon-muted {
  color: #3c3c3c;
  text-decoration: none;
}
.mon-muted:hover,
.mon-muted:active {
  color: #1b6d85;
  text-decoration: none;
}
.mon-padding-title {
  padding-left: 20px;
  border-left: 5px solid #0b97c4;
}
.mon-disabled {
  display: none !important;
}
.mon-main {
  min-height: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media screen and (max-width: 450px) {
  .mon-main {
    margin: 0 !important;
  }
}
.mon-table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  min-height: 100vh;
}
.mon-table > div {
  margin: 0 auto;
  color: #999;
}
@media screen and (min-width: 500px) {
  .mon-table > div {
    font-size: 5rem;
  }
}
@media screen and (max-width: 500px) {
  .mon-table > div {
    font-size: 3rem;
  }
}
.mon-star {
  display: inline-block;
}
.mon-star > a {
  margin: 0;
}
.mon-substitute {
  font-size: 1.2rem;
}
.mon-star .mon-fadeOut {
  font-size: 1.2rem;
  -webkit-transform: translate(0, 30px);
      -ms-transform: translate(0, 30px);
          transform: translate(0, 30px);
  -webkit-transition: all linear 0.2s;
          transition: all linear 0.2s;
}
.mon-padding {
  padding: 10px;
  color: #5e5e5e;
}
.mon-bg-title {
  font-size: 30px;
}
.mon-nav {
  position: relative;
  background-color: #fafafa;
}
.mon-subnav {
  text-align: center;
}
.mon-user-nav {
  padding: 10px 15px !important;
}
.mon-subnav img {
  border-radius: 50%;
}
.mon-user > span:first-child {
  color: #ddd;
  font-size: 14px;
}
.mon-user > span {
  color: #28342f;
  font-size: 16px;
}
.mon-home * {
  text-align: center;
}
.icon-name {
  font-size: 30px;
  color: #EE3B3B;
  font-weight: 600;
  text-shadow: 0 0 5px #EE9572;
}
/*动漫效果*/
.animated {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(800px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(800px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(800px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(800px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(800px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(800px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(800px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(800px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(800px);
            transform: perspective(800px);
  }
}
@keyframes flipInX {
  0% {
    -webkit-transform: perspective(800px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(800px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(800px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(800px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(800px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(800px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(800px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(800px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(800px);
            transform: perspective(800px);
  }
}
.flipInX {
  -webkit-backface-visibility: visible !important;
          backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
          animation-name: flipInX;
}
@-webkit-keyframes flipOutX {
  0% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
  30% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}
@keyframes flipOutX {
  0% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
  30% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}
.flipOutX {
  -webkit-animation-name: flipOutX;
          animation-name: flipOutX;
  -webkit-backface-visibility: visible !important;
          backface-visibility: visible !important;
}
@-webkit-keyframes pulse {
  0% {
    opacity: 1;
  }
  16.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  16.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
}
.shake {
  -webkit-animation-name: shake;
          animation-name: shake;
}
.search-btn {
  color: #2C2C2C !important;
}
/* 搜索按钮样式 */
@media screen and (min-width: 450px) {
  .search-btn {
    margin-left: 10px;
  }
}
@media screen and (max-width: 450px) {
  .search-btn {
    display: block;
    width: 100%;
  }
}
/**
 * 页脚
 */
.mon-footer {
  position: relative;
  z-index: 100;
  display: block;
  background-color: #515151;
  font-size: 16px;
  overflow: hidden;
  padding: 20px;
  color: #ddd;
  margin-top: 50px;
}
.mon-footer p {
  font-size: 20px;
}
.mon-footer a {
  color: #fff;
  margin: 10px 20px 0 0;
}
.mon-footer a:hover,
.mon-footer a:focus {
  color: #5e5e5e;
  text-decoration: none;
}
/**
 * 登陆，注册
 */
.mon-other-login {
  padding: 10px 20px;
  text-align: center;
}
.mon-other-login > a {
  color: #999;
  margin-left: 20px;
}
.mon-other-login > a:hover {
  color: #111;
  text-decoration: none;
}
.mon-other-login span {
  font-size: 30px;
}
.form-legend {
  margin-bottom: 5px;
}
.form-legend > span,
.form-change > a {
  font-size: 25px;
}
.form-change {
  float: right;
  color: #999;
}
.form-change:hover {
  -webkit-transition: all 0.3s linear;
          transition: all 0.3s linear;
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
  text-decoration: none;
}
.sign-form {
  display: none;
}
/**
 * user
 */
.mon-center {
  text-align: center;
  position: relative;
}
.mon-user-name {
  font-size: 25px;
  font-weight: 800;
  color: #5e5e5e;
  text-align: center;
  position: relative;
}
.mon-vcard-stats {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  width: 100%;
}
.mon-vcard-stats > a {
  width: 33%;
  padding: 10px;
  text-align: center;
}
.mon-vcard-stats .mon-link {
  display: inline-block;
  padding: 10px 5px;
  color: #00b3ee;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  position: relative;
}
.mon-link:hover {
  cursor: pointer;
  opacity: 0.8;
}
.mon-vcard-stats span {
  display: block;
  width: 100%;
  font-size: 30px;
}
.mon-vcard-stats b {
  color: #999;
  font-weight: 800;
}
.mon-ability-list > li {
  border-bottom: 1px solid #d4d4d4;
  font-size: 16px;
}
.mon-ability-list span.fa {
  color: #999;
  margin-right: 20px;
}
.mon-ability-list a {
  color: #5e5e5e;
}
.mon-ability-list a.active {
  color: #FF4040;
  font-weight: 800;
}
.mon-ability-list a.active span {
  color: #FF4040;
}
.mon-contribute > li {
  border-bottom: 1px dashed #d4d4d4;
  border-left: 3px solid #5e5e5e;
}
/* 设置*/
.mon-account span {
  font-size: 25px;
  margin-right: 20px;
}
/* followers*/
.listgroup {
  padding: 5px 10px;
  background-color: #EEEED1;
  margin-bottom: 10px;
  position: relative;
}
.position {
  line-height: 80px;
  height: 80px;
  font-size: 50px;
  color: #5e5e5e;
}
.followers-name > a {
  font-size: 30px !important;
  color: #5e5e5e;
}
.followers-name > a:hover {
  text-decoration: none;
}
.followers-intro {
  font-size: 16px;
  line-height: 25px;
}
.listgroup .follow {
  position: absolute;
  top: 10px;
  right: 30px;
}
.follow > span {
  margin-right: 10px;
}
.follow > a {
  display: inline-block;
  height: 20px;
  min-width: 40px;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  background-color: #EE5C42;
}
.follow > a:hover,
.follow > a:visited,
.follow > a:focus {
  text-decoration: none;
  color: #d4d4d4;
  opacity: 0.7;
}
/* 文章投稿 */
.mon-post-btn {
  margin-top: 20px;
}
.mon-post-btn .fa {
  margin-right: 5px;
}
/* 登陆 */
.mon-login span {
  font-size: 30px;
  margin: 20px;
}
