.mon-approve {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
.mon-approve-item {
  display: inline-block;
  overflow: hidden;
  float: left;
  margin: 10px 15px;
}
.mon-approve-item > a {
  display: block;
  margin: auto;
  padding: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 50%;
  text-align: center;
}
.mon-approve-click {
  color: #9BCD9B;
}
.mon-approve-click:hover {
  background: #9BCD9B;
  color: #fff;
}
.mon-approve-click-o {
  color: #BD362F;
}
.mon-approve-click-o:hover {
  background: #BD362F;
  color: #fff;
}
.mon-thumb {
  display: block;
  margin: auto;
  font-size: 30px !important;
}
.mon-ban-approve {
  pointer-events: none;
  cursor: not-allowed !important;
}
.mon-approved {
  pointer-events: none;
  cursor: not-allowed !important;
  background: #9BCD9B;
  color: #fff;
}
.mon-disapproved {
  pointer-events: none;
  cursor: not-allowed !important;
  background: #BD362F;
  color: #fff;
}
