/* 前一页，后一页 */
.mon-page {
  color: #333;
  background-color: #f0f0f0;
  border-color: #ccc;
  margin-right: 30px;
}
.mon-page:hover .fa {
  color: #d43f3a;
  -webkit-transition: all linear 0.3s;
          transition: all linear 0.3s;
}
.mon-prev-page {
  width: 60px;
}
.mon-prev-page:hover .fa {
  -webkit-transform: translateX(-10px);
      -ms-transform: translateX(-10px);
          transform: translateX(-10px);
}
.mon-next-page {
  width: 100px;
}
.mon-next-page:hover .fa {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}
/*文章*/
/* 缩略图背景 */
.mon-abbr {
  width: 100%;
  height: 360px;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  bottom: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 1000px) {
  .mon-abbr {
    height: 450px;
  }
}
.mon-abbr-back {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url('/img/upload/5ed683406cfdf5b0a29a6efcb478a83b');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.mon-abbr-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0)), to(#0a0a0a));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), #0a0a0a);
  z-index: 1000;
  color: #fff;
}
.mon-article {
  margin-bottom: 30px;
}
.mon-article blockquote {
  position: relative;
  padding-left: 50px;
  background-color: #EBEBEB;
  font-size: 14px;
  border-left: none;
}
.mon-article blockquote:before {
  content: '“';
  position: absolute;
  top: -9px;
  left: 16px;
  font-family: "Arial";
  font-size: 80px;
  color: rgba(0, 0, 0, 0.15);
}
.mon-article-title {
  font-size: 1.2rem;
  color: #fff;
}
@media screen and (min-width: 500px) {
  .mon-article-title {
    font-size: 3rem;
  }
}
.mon-article-detail {
  padding: 10px;
  margin-bottom: 30px;
  font-size: 1.6rem;
}
.mon-article-detail img {
  border-radius: 50%;
  box-shadow: 0 0 5px grey;
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 450px) {
  .mon-article-detail {
    font-size: 0.9rem;
  }
  .mon-article-detail img {
    width: 40px;
  }
}
.mon-article-detail img:hover {
  box-shadow: 0 0 5px #FF6347;
}
.mon-article-detail span {
  color: #fff;
  margin-left: -25px;
}
.mon-article-detail a {
  color: #fff;
  text-decoration: none;
  margin-right: 30px;
}
.mon-article-detail a:hover,
.mon-article-detail a:focus {
  text-decoration: none;
  color: #998899;
}
.mon-article-summary {
  padding: 20px;
  font-size: 16px;
  line-height: 1.6;
}
.mon-article-content {
  margin: 20px 0 10px 0;
  padding-bottom: 30px;
}
.mon-article-content p {
  font-size: 1.6rem;
  line-height: 1.8;
}
.mon-article-content img {
  max-width: 100%;
  margin: auto;
  display: block;
}
.mon-article-tags {
  border-bottom: 1px solid #c0c0c0;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.mon-article-tag {
  font-size: 0.6rem;
  display: inline-block;
  background-color: #E8E8E8;
  text-align: center;
  padding: 5px 10px;
  border-radius: 4px;
  margin: 10px 5px;
  color: #A6A6A6;
  opacity: 0.8;
}
.mon-article-tag:hover {
  opacity: 1;
  cursor: pointer;
}
.mon-no-padding {
  padding: 0 !important;
}
.mon-article-user {
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 10px grey;
  overflow: hidden;
}
.mon-article-user:hover {
  box-shadow: 0 0 10px #43CD80;
}
.mon-article-user img {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}
.mon-article-user-detail {
  display: inline-block;
}
.mon-user-name {
  font-size: 20px;
  color: #5e5e5e;
}
.mon-user-name:hover {
  text-decoration: none;
}
.mon-recommend {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.mon-recommend > li {
  position: relative;
  display: block;
  border-bottom: 1px dashed #999;
}
.mon-recommend > li:last-child {
  border: none;
}
.mon-recommend .mon-re-item {
  display: block;
  font-size: 16px;
  position: relative;
  height: 40px;
  width: 100%;
  line-height: 40px;
  text-decoration: none;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: grey;
}
.mon-re-item:hover {
  background-color: #ddd;
}
/* 评论组件 */
.mon-comment {
  margin-top: 30px;
}
.mon-comment-title {
  color: #5e5e5e;
  font-size: 2em;
  border-left: 5px solid grey;
  padding-left: 20px;
}
.mon-comment-list {
  list-style: none;
  padding-left: 0;
}
.mon-comment-item {
  border-bottom: 1px solid #d4d4d4;
  padding: 15px 10px;
}
.mon-comment-item article {
  line-height: 1.5;
  color: #999;
}
/**/
.mon-approve-count {
  text-align: center;
}
.mon-approve-count > span {
  display: inline-block;
  width: 54px;
  height: 54px;
  text-align: center;
  margin: 10px 15px;
  font-size: 30px;
  color: #BD362F;
}
.mon-approve-count > span:first-child {
  color: #9BCD9B;
}
