.mon-btn-block {
  position: fixed;
  bottom: 100px;
  right: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 450px) {
  .mon-btn-block {
    right: 10px;
  }
}
.mon-btn-block > a {
  margin-top: 8px;
  font-size: 22px;
  position: relative;
  overflow: hidden;
  opacity: 0.6;
}
.mon-btn-block > a:hover .mon-btn-fix {
  opacity: 1;
}
.mon-btn-fix {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 16px;
  color: #fff;
  white-space: pre-wrap;
  background-color: #999;
  -webkit-transition: all linear 0.1s;
          transition: all linear 0.1s;
}
