.mon-sanger-content {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(10, 10, 10, 0.3);
  width: 100%;
  color: #fff;
  padding-bottom: 20px;
  font-size: 1.5rem;
}
.mon-sanger-content > p {
  margin: 0;
  padding: 10px;
}
@media screen and (max-width: 500px) {
  .mon-sanger-content {
    font-size: 1.2rem;
  }
}
