.mon-section {
  margin-bottom: 30px;
  position: relative;
}
.mon-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
}
.mon-aside {
  margin-top: 10px;
}
.mon-aside img {
  border-radius: 50%;
  width: 30px;
  box-shadow: 0 0 10px #ddd;
}
.mon-aside img:hover {
  box-shadow: 0 0 10px #90EE90;
}
.mon-aside span {
  float: right;
  color: #999;
}
.mon-item {
  display: inline-block;
  position: relative;
  width: 200px;
  margin: 20px 10px;
}
.mon-item > div {
  max-width: 100%;
}
@media screen and (max-width: 500px) {
  .mon-item {
    width: 43%;
  }
}
.mon-fragmentation {
  position: relative;
  overflow: hidden;
  color: #fff;
  width: 100%;
  height: 112px;
}
.mon-fragmentation img {
  width: 100%;
  height: 100%;
}
.mon-fragmentation > div:first-child {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/img/background.png');
  background-repeat: no-repeat;
  background-position: center;
}
.mon-fragmentation > div:nth-child(2) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 5px;
  background: rgba(10, 10, 10, 0.5);
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-transition: all linear 0.3s;
          transition: all linear 0.3s;
}
.mon-fragmentation > div:nth-child(2) a {
  color: #fff;
  text-decoration: none;
}
.mon-fragmentation > div:nth-child(2) a:hover,
.mon-fragmentation > div:nth-child(2) a:active {
  text-decoration: none;
  color: #2C2C2C;
}
.mon-fragmentation:hover > div:nth-child(2) {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}
.mon-label {
  display: block;
  padding: 5px 10px 5px;
  border-left: 5px solid #0b97c4;
  font-size: 1.5rem;
}
