.mon-section {
  margin-bottom: 30px;
  position: relative;
}
.mon-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
}
.mon-aside {
  background-color: #f4f4f4;
  max-height: 58px;
  overflow: hidden;
  padding: 10px;
}
.mon-aside > a {
  font-size: 0.9rem;
  color: #3d4444;
  line-height: 1;
}
.mon-aside > a:hover {
  text-decoration: none;
  color: #999;
}
.mon-item {
  display: inline-block;
  position: relative;
  padding: 5px;
  margin-bottom: 20px;
}
.mon-item > div {
  max-width: 100%;
}
@media screen and (min-width: 1000px) {
  .mon-item {
    width: 20%;
  }
}
@media screen and (max-width: 1000px) {
  .mon-item {
    width: 33%;
  }
}
@media screen and (max-width: 500px) {
  .mon-item {
    width: 50%;
  }
}
.mon-fragmentation {
  position: relative;
  overflow: hidden;
  color: #fff;
  width: 100%;
  height: 100px;
}
.mon-fragmentation img {
  width: 100%;
  height: 100%;
}
.mon-fragmentation > div:first-child {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/img/background.png');
  background-repeat: no-repeat;
  background-position: center;
}
.mon-fragmentation > div:nth-child(2) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 5px;
  background: rgba(10, 10, 10, 0.5);
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-transition: all linear 0.3s;
          transition: all linear 0.3s;
}
.mon-fragmentation > div:nth-child(2) a {
  color: #fff;
  text-decoration: none;
}
.mon-fragmentation > div:nth-child(2) a:hover,
.mon-fragmentation > div:nth-child(2) a:active {
  text-decoration: none;
}
.mon-fragmentation > div:nth-child(2) img {
  float: left;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
  box-shadow: 0 0 10px #999;
}
.mon-fragmentation > div:nth-child(2) span {
  font-size: 1rem;
  vertical-align: middle;
}
.mon-fragmentation:hover > div:nth-child(2) {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}
.mon-label {
  display: block;
  padding: 5px 10px 5px;
  border-left: 5px solid #0b97c4;
  font-size: 1.5rem;
}
/* 天气预报 */
.mon-weather {
  width: 100%;
}
.mon-weather-title {
  position: relative;
  background: #00b3ee;
  padding: 5px 10px;
  color: #fff;
}
.mon-weather-title > span {
  position: absolute;
  top: 5px;
  left: 10px;
}
.mon-weather-title > p {
  margin: 0;
}
.mon-weather-content {
  background: #F0F8FF;
}
.mon-weather-content > img {
  display: block;
  margin: auto;
}
.mon-weather-content > p {
  text-align: center;
  font-size: 1.5rem;
  color: #2C2C2C;
}
.mon-weather-content > p > span {
  margin: 0 10px;
}
/* 定位 */
.mon-location {
  color: #1d7db1;
}
.mon-location:hover,
.mon-location:active,
.mon-location:focus {
  text-decoration: none;
  color: #c0c0c0;
}
/* 错误刷新 */
.mon-error {
  display: table;
  width: 100%;
  height: 100px;
}
.mon-error > a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #2C2C2C;
}
.mon-error > a:hover,
.mon-error > a:active,
.mon-error > a:focus {
  text-decoration: none;
  color: #c0c0c0;
}
/* 推荐轮播 */
@media screen and (max-width: 450px) {
  .mon-carousel > div {
    margin-left: -15px !important;
    margin-right: -15px !important;
  }
}
