/**
 * Created by apache on 15-11-10.
 */
.mon-top {
  position: relative;
  height: 300px;
  margin-bottom: 30px;
  overflow: hidden;
  color: #fff;
}
.mon-top:hover {
  color: #f0f0f0;
  text-shadow: 0 0 1px #ddd;
  text-decoration: none;
}
.mon-top:hover .mon-title {
  background-color: rgba(10, 10, 10, 0.5);
}
.mon-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.mon-title {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  top: 0;
  left: 0;
  z-index: 3000;
  margin: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0)), to(#0a0a0a));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), #0a0a0a);
}
.mon-title {
  padding: 10px 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.mon-title img {
  border-radius: 50%;
  box-shadow: 0 0 10px #999;
  width: 2.4rem;
  height: 2.4rem;
}
.mon-title span {
  margin-left: 20px;
  font-size: 16px;
}
/* 栏目简介 */
.mon-column-info {
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  color: #999;
}
/*　分页　*/
.mon-skip {
  margin-top: 10px;
  text-align: center;
}
