.mon-member {
  margin-top: 30px;
}
.mon-member > button {
  margin: 10px;
}
.mon-member-intr {
  line-height: 1.2;
  padding: 20px;
}
/*　导航　*/
.mon-member-nav {
  border: 1px solid #ddd;
}
.mon-member-nav > a {
  border-right: 1px solid #ddd;
  padding: 10px 20px;
  font-size: 18px;
  color: #0f0f0f !important;
}
.mon-member-nav > a:hover {
  background-color: #999;
  color: #fff !important;
}
/* followers and following */
.mon-follow-item {
  position: relative;
  border: 1px solid #EEEEE0;
  padding: 10px 30px;
  margin: 10px !important;
  height: 150px;
}
.mon-follow-item img {
  width: 120px;
}
.mon-follow-item a {
  font-size: 2rem;
}
@media screen and (min-width: 500px) {
  .mon-follow-item {
    margin: 10px 20px !important;
  }
}
.mon-follow-intr {
  max-height: 50px;
  line-height: 25px;
  overflow: hidden;
}
