.mon-music {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px #999;
  width: 100%;
}
.mon-music img {
  width: 100%;
  height: 360px;
  overflow: hidden;
}
@media screen and (max-width: 450px) {
  .mon-music img {
    width: 120px;
    height: 120px;
  }
}
.mon-music-block {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.mon-music-block a {
  font-size: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #999;
  text-decoration: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  vertical-align: middle;
}
.mon-music-block a:hover,
.mon-music-block a:active,
.mon-music-block a:focus {
  text-decoration: none;
  color: #ddd;
}
.mon-music-block a:hover {
  background: rgba(10, 10, 10, 0.1);
}
.mon-music-block a:nth-child(1) {
  display: none !important;
}
.mon-music-summary label {
  font-size: 2rem;
}
.mon-music-summary p {
  font-size: 1.6rem;
}
.mon-music-url {
  display: none;
}
.mon-music-info {
  margin: 20px 0;
}
.mon-music-info img {
  width: 50px;
  border: 1px solid #999;
  border-radius: 50%;
}
.mon-music-info > a {
  margin-left: 10px;
  font-size: 1.8rem;
}
.mon-music-tags {
  margin-top: 30px;
}
.mon-music-tags > span {
  margin-right: 5px;
  font-size: 14px;
}
.mon-music-tags > span:hover {
  opacity: 0.5;
  cursor: pointer;
}
/* 音乐进度条 */
.mon-music-progress {
  width: 100%;
  height: 5px;
  border: 1px solid #ddd;
}
.mon-music-progressBar {
  width: 0;
  height: 100%;
  background: #3c3c3c;
}
/* 访客 */
.mon-visitor-block {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}
.mon-visitor-block > a {
  box-shadow: 0 0 10px #ddd;
  float: left;
  margin: 5px;
}
.mon-visitor-block > a:hover {
  box-shadow: 0 0 10px #999 ;
}
.mon-visitor-block > a > img {
  width: 40px;
}
/* 音乐收藏 */
.mon-music-star > span {
  margin: 0 10px;
}
