.mon-music {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px #999;
}
.mon-music img {
  width: 360px;
}
.mon-music-block {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.mon-music-block a {
  font-size: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #999;
  text-decoration: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  vertical-align: middle;
}
.mon-music-block a:hover,
.mon-music-block a:active,
.mon-music-block a:focus {
  text-decoration: none;
  color: #ddd;
}
.mon-music-block a:hover {
  background: rgba(10, 10, 10, 0.1);
}
.mon-music-block a:nth-child(1) {
  display: none !important;
}
.mon-music-url {
  display: none;
}
.mon-music-tags > span {
  margin: 10px;
}
