.mon-user-img {
  position: relative;
}
.mon-user-camera {
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  left: 0;
  background-color: rgba(10, 10, 10, 0.1);
  text-align: center;
}
.mon-user-camera:hover {
  background-color: rgba(10, 10, 10, 0.5);
  cursor: pointer;
}
.mon-user-camera > span {
  font-size: 20px;
  color: #fff;
  margin-top: 20px;
}
/* 个人中心 */
.mon-badge {
  font-size: 4rem;
  margin-bottom: 20px;
}
.mon-badge span {
  margin-right: 20px;
}
.mon-tab {
  margin-top: 20px;
  border-bottom: 1px solid #fcf8e3;
}
.mon-star-list > div {
  margin-bottom: 20px;
}
.mon-more {
  border: 1px dashed #999;
}
.mon-more a {
  font-size: 10rem;
  display: block;
  margin: auto;
  text-align: center;
}
