<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>monster_web</title>
    <link rel="stylesheet" href="/css/app.css"/>
    <link rel="stylesheet" href="/css/article.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-markdown.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/toastr.min.css" />
</head>
<body>
<div id="app">{{html|safe}}</div>
<script src="/js/vendor.js"></script>
<script src="/js/bootstrap-markdown.js"></script>
<script src="/js/vendor.bundle.js"></script>
<script src="/js/bundle.js"></script>
</body>
</html>