.mon-disabled {
  display: none;
}
.mon-nav {
  background-color: rgba(250, 250, 250, 0.6) !important;
}
.mon-subnav {
  text-align: center;
}
.mon-subnav img {
  border-radius: 50%;
}
.mon-user > span:first-child {
  color: #ddd;
  font-size: 14px;
}
.mon-user > span {
  color: #28342f;
  font-size: 16px;
}
.mon-home * {
  text-align: center;
}
.icon-name {
  font-size: 30px;
  color: #EE3B3B;
  font-weight: 600;
  text-shadow: 0 0 5px #EE9572;
}
.animated {
  -webkit-animation: fadeIn 1s ease-in alternate;
          animation: fadeIn 1s ease-in alternate;
}
@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  50% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  50% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@media screen and (min-width: 450px) {
  .search-btn {
    margin-left: 10px;
  }
}
@media screen and (max-width: 450px) {
  .search-btn {
    display: block;
    width: 100%;
  }
}
/**
 * 页脚
 */
.mon-footer {
  display: block;
  background-color: #515151;
  font-size: 16px;
  overflow: hidden;
  padding: 20px;
  color: #ddd;
  margin-top: 50px;
}
.mon-footer p {
  font-size: 20px;
}
.mon-footer a {
  color: #fff;
  margin: 10px 20px 0 0;
}
.mon-footer a:hover,
.mon-footer a:focus {
  color: #5e5e5e;
  text-decoration: none;
}
/**
 * 登陆，注册
 */
.mon-other-login {
  padding: 10px 20px;
  text-align: center;
}
.mon-other-login > a {
  color: #999;
  margin-left: 20px;
}
.mon-other-login > a:hover {
  color: #111;
  text-decoration: none;
}
.mon-other-login span {
  font-size: 30px;
}
.form-legend {
  margin-bottom: 5px;
}
.form-legend > span,
.form-change > a {
  font-size: 25px;
}
.form-change {
  float: right;
  color: #999;
}
.form-change:hover {
  -webkit-transition: all 0.3s linear;
          transition: all 0.3s linear;
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
  text-decoration: none;
}
.sign-form {
  display: none;
}
/**
 * user
 */
.mon-center {
  text-align: center;
}
.mon-user-name {
  font-size: 25px;
  font-weight: 800;
  color: #5e5e5e;
  text-align: center;
}
.mon-vcard-stats {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.mon-vcard-stats .mon-link {
  display: inline-block;
  padding: 10px 10px;
  color: #00b3ee;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
}
.mon-link:hover {
  cursor: pointer;
  opacity: 0.8;
}
.mon-vcard-stats span {
  display: block;
  width: 100%;
  font-size: 30px;
}
.mon-vcard-stats b {
  color: #999;
  font-weight: 800;
}
.mon-ability-list > li {
  border-bottom: 1px solid #d4d4d4;
  font-size: 16px;
}
.mon-ability-list span.fa {
  color: #999;
  margin-right: 20px;
}
.mon-ability-list a {
  color: #5e5e5e;
}
.mon-ability-list a.active {
  color: #FF4040;
  font-weight: 800;
}
.mon-ability-list a.active span {
  color: #FF4040;
}
.mon-contribute > li {
  border-bottom: 1px dashed #d4d4d4;
  border-left: 3px solid #5e5e5e;
}
.mon-contribute a {
  padding-left: 30px !important;
}
/* 设置*/
.mon-account span {
  font-size: 25px;
  margin-right: 20px;
}
/* followers*/
.listgroup {
  padding: 5px 10px;
  background-color: #EEEED1;
  margin-bottom: 10px;
  position: relative;
}
.position {
  line-height: 80px;
  height: 80px;
  font-size: 50px;
  color: #5e5e5e;
}
.followers-name > a {
  font-size: 30px !important;
  color: #5e5e5e;
}
.followers-name > a:hover {
  text-decoration: none;
}
.followers-intro {
  font-size: 16px;
  line-height: 25px;
}
.listgroup .follow {
  position: absolute;
  top: 10px;
  right: 30px;
}
.follow > span {
  margin-right: 10px;
}
.follow > a {
  display: inline-block;
  height: 20px;
  width: 40px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  background-color: #EE5C42;
}
.follow > a:hover {
  text-decoration: none;
  color: #d4d4d4;
  opacity: 0.7;
}
