/*contribute block*/
.mon-contribute-block {
  border: 1px solid #ddd;
  margin-bottom: 30px;
}
.mon-contribute-nav > a {
  display: inline-block;
  padding: 5px 10px;
  font-size: 20px;
  text-decoration: none;
  color: #999;
  border-right: 1px solid #ddd;
}
.mon-contribute-nav > a:hover,
.mon-contribute-nav > a:active,
.mon-contribute-nav > a:focus {
  text-decoration: none;
}
.mon-contribute-nav > a.active {
  background-color: #33acfe;
  color: #fff;
}
.mon-conlist-item {
  position: relative;
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px dashed #ddd;
}
.mon-conlist-title {
  font-size: 16px;
  text-decoration: none;
}
.mon-conlist-title:hover {
  text-decoration: none;
}
.mon-conlist-info > span {
  margin-right: 20px;
}
.mon-conlist-index {
  position: absolute;
  right: 10px;
  bottom: 0;
  font-size: 50px;
  color: #ddd;
  opacity: 0.4;
}
/* 功能按钮 */
.mon-fixed-btn {
  position: absolute;
  display: none;
  top: 10px;
  right: 10px;
}
.mon-fixed-btn > button {
  float: left;
  margin-left: 10px;
}
.mon-conlist-item:hover .mon-fixed-btn {
  display: inline-block;
}
/* 更新 */
.mon-update-block {
  z-index: 2500;
}
