.mon-notice-point {
  position: absolute;
  top: 5px;
  right: 0;
  color: #fff !important;
}
.mon-notice-item {
  position: relative;
  overflow: hidden;
}
.mon-notice-item:hover .mon-read {
  display: inline-block !important;
}
/* 已读按钮 */
.mon-read {
  position: absolute;
  top: 10px;
  right: 5px;
  display: none !important;
}
